.header {
  &__wrapper {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 56px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 1280px) {
      padding: 56px 40px;
    }
    @media (max-width: 768px) {
      padding: 22px 16px;
    }
  }

  &__logo {
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 49px;
    /* or 106% */

    letter-spacing: -0.04em;

    color: #ffffff;

    @media (max-width: 768px) {
      font-size: 36px;
      line-height: 39px;
    }
  }

  &__nav {
    @media (max-width: 768px) {
      display: none;
    }
    &-list {
      display: flex;
      align-items: center;
    }
    &-item {
    }
    &-link {
      margin-left: 30px;
      font-weight: 400;
      font-size: 17px;
      line-height: 22px;

      color: #ffffff;
    }
  }
}
