///
// Vars
///
// Container break-points
$grid-breakpoints: (
	min: 0px,
	mobile: 320px,
	tablet: 768px,
	desktop: 1280px
);

// Colors 
$background: #ECECF3;
$bg-hover: #D9E0F7;
$font: #0E0E2B;
$font-blue: #0033CC;
