.feedback {
  margin-top: 160px;

  &__container {
    width: 100%;
    max-width: 1440px;
    display: flex;
    margin: 0 auto;
    padding: 0 60px;

    @media (max-width: 1280px) {
      padding: 56px 40px;
    }
    @media (max-width: 768px) {
      padding: 36px 16px;
      flex-direction: column;
    }
  }

  &__text {
    width: 50%;
    @media (max-width: 768px) {
      width: 100%;
    }
  }

  &__subtitle {
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */

    text-transform: uppercase;

    color: #ffffff;

    opacity: 0.7;
  }

  &__title {
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 64px;
    text-transform: capitalize;

    /* 3rd */

    color: #14183e;
  }

  &__navigation {
    margin-top: 30px;

    @media (max-width: 768px) {
      display: none;
    }

    &-btn {
      padding: 5px;
      background: inherit;
      border: none;
      cursor: pointer;
      color: #3e2e4d;
      &--left {
        transform: rotate(-90deg);
      }

      &--right {
        transform: rotate(90deg);
      }

      &.swiper-button-disabled {
        color: white;
        opacity: 0.7;
      }
    }
  }

  &__slider {
    width: 50%;
    @media (max-width: 768px) {
      width: 100%;
    }

    .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 35px;
    }
  }

  &__pagination {
    display: none;

    @media (max-width: 768px) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .swiper-pagination-bullet {
      width: 6px;
      height: 6px;
      margin: 0 4px;
      border-radius: 50%;
      background-color: #fff;
    }

    .swiper-pagination-bullet-active {
      background-color: #db6851;
    }
  }

  &__item {
    position: relative;
    max-width: 504px;
    padding: 28px 35px;

    background: #ffffff;
    box-shadow: 157px 157px 89px rgba(0, 0, 0, 0.01),
      88px 88px 75px rgba(0, 0, 0, 0.05), 39px 39px 55px rgba(0, 0, 0, 0.09),
      10px 10px 30px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);

    box-shadow: 157px 157px 89px rgba(0, 0, 0, 0.01);
    border-radius: 10px;
  }

  &__img {
    position: absolute;
    top: -34px;
    left: -34px;
    width: 68px;
    height: 68px;
    border-radius: 50%;
  }

  &__value {
    margin-bottom: 34px;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    color: #5e6282;
  }

  &__name {
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #14183e;
  }

  &__country {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;

    color: #14183e;

    opacity: 0.4;
  }
}
