.feedback 
    .feedback__container
        .feedback__text 
            p.feedback__subtitle Testimonials
            h2.feedback__title What people say about Us.

            .feedback__navigation.js-feedback-navigation
                button.feedback__navigation-btn.feedback__navigation-btn--left.js-feedback-navigation--left
                    <svg class="feedback__navigation-svg" width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 8.5L8 1.5L15 8.5" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
                    </svg>
                button.feedback__navigation-btn.feedback__navigation-btn--right.js-feedback-navigation--right
                    <svg class="feedback__navigation-svg" width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 8.5L8 1.5L15 8.5" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
                    </svg>


        .feedback__slider
            .swiper.feedback__swiper.js-feedback-swiper
                .swiper-wrapper
                    .swiper-slide
                        .feedback__item
                            img.feedback__img(src='../../assets/images/portrait.jpg')
                            .feedback__value  “On the Windows talking painted pasture yet its express parties use. Sure last upon he same as knew next. Of believed or diverted no.”
                            .feedback__name John Sans
                            .feedback__country Gujarat, India
                    .swiper-slide
                        .feedback__item
                            img.feedback__img(src='../../assets/images/portrait.jpg')
                            .feedback__value  “On the Windows talking painted pasture yet its express parties use. Sure last upon he same as knew next. Of believed or diverted no.”
                            .feedback__name John Sans
                            .feedback__country Gujarat, India
                    .swiper-slide
                        .feedback__item
                            img.feedback__img(src='../../assets/images/portrait.jpg')
                            .feedback__value  “On the Windows talking painted pasture yet its express parties use. Sure last upon he same as knew next. Of believed or diverted no.”
                            .feedback__name John Sans
                            .feedback__country Gujarat, India