.footer     
    .footer__container 
        .footer__logo 
            img.footer__logo-img(src="../../assets/images/liberty.png")
        
        .footer__links
            .footer__links-items
                h3.footer__links-title Title
                ul.footer__links-list 
                    li.footer__links-item   
                        a.footer__link(href="#") footer link
                    li.footer__links-item   
                        a.footer__link(href="#") footer link
                    li.footer__links-item   
                        a.footer__link(href="#") footer link
            .footer__links-items
                h3.footer__links-title Title
                ul.footer__links-list 
                    li.footer__links-item   
                        a.footer__link(href="#") footer link
                    li.footer__links-item   
                        a.footer__link(href="#") footer link
                    li.footer__links-item   
                        a.footer__link(href="#") footer link
            .footer__links-items
                h3.footer__links-title Title
                ul.footer__links-list 
                    li.footer__links-item   
                        a.footer__link(href="#") footer link
                    li.footer__links-item   
                        a.footer__link(href="#") footer link
                    li.footer__links-item   
                        a.footer__link(href="#") footer link

        .footer__social-networks
