.hero 
    .hero__container 
        .hero__text 
            p.hero__subtitle Best Destinations around the world
            h1.hero__title Travel, enjoy and live a new and full life
            p.hero__description Built Wicket longer admire do barton vanity itself do in it. Preferred to sportsmen it engrossed listening. Park gate sell they west hard for the.
            button.hero__button Find out more
        .hero__img