include _mixins.pug
<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        <meta property="og:title" content="" />
        <meta property="og:description" content="" />
        <meta property="og:image" content="" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
        title Green Card helpers
        include _styles.pug


    body
        .wrapper
            include _svg.pug
            - var mainPage = true
            include ./components/header/header.pug
            
            main
                //- include ./components/left-navigation-menu/left-navigation-menu.pug
                //- include ./components/index-main/index-main.pug

            include _scripts.pug