.services 
    .services__container
        p.services__subtitle CATEGORY
        h2.services__title We Offer Best Services

        .services__cards
            .services__item.service
                img.service__img(src="../../assets/icons/visa.png")
                h3.service__title Calculated Weather
                p.service__text Built Wicket longer admire do barton vanity itself do in it.
            .services__item.service
                img.service__img(src="../../assets/icons/visa.png")
                h3.service__title Calculated Weather
                p.service__text Built Wicket longer admire do barton vanity itself do in it.
            .services__item.service
                img.service__img(src="../../assets/icons/visa.png")
                h3.service__title Calculated Weather
                p.service__text Built Wicket longer admire do barton vanity itself do in it.
            .services__item.service
                img.service__img(src="../../assets/icons/visa.png")
                h3.service__title Calculated Weather
                p.service__text Built Wicket longer admire do barton vanity itself do in it.